:root {
    /****************** COLORS ******************/
    --primary: #383131;
    --secondary: #fff;
    --light-primary: #F7FCD1;
    --light-secondary: #E6E0D2;
    --color-on-primary: #fff;
    --color-light-on-primary: grey;
    --color-on-secondary: black;
    --color-light-on-secondary: grey;
    --basic-text-color: black;

    --proj1-color1: #7CB9D6;
    --proj1-color2: #FFFFFF;
    --proj2-color1: #DDE9B9;
    --proj2-color2: #282552;
    --proj3-color1: #69AB2F;
    --proj3-color2: #F9B736;
    --proj4-color1: #00B1B1;
    --proj4-color2: #fff;

    /****************** GLOBAL ******************/
    --shadow-header: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-header-smooth: 0 8px 14px 0 rgba(0, 0, 0, .04);
    --basic-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    --strong-shadow: 0px 4px 8px rgba(0, 0, 0, .7);
    --super-strong-shadow: 0px 4px 8px rgba(0, 0, 0, 1.2);

    /****************** SIZES ******************/
    --header-height: 3rem;
    --splide-arrow-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);

    --title3-font-size: clamp(2rem, 1.714rem + 0.762vw, 2.4rem);
    --text-font-size: clamp(0.8rem, 0.586rem + 0.571vw, 1.1rem);
    --classic-btn-size: 10rem;

    /****************** SPACING ******************/
    --margin-xs: clamp(0.4rem, 0.329rem + 0.19vw, 0.5rem);
    --margin-s: clamp(0.8rem, 0.657rem + 0.381vw, 1rem);
    --margin-m: clamp(1rem, 0.429rem + 1.524vw, 1.8rem);
    --margin-l: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
}

@font-face {
  font-family: 'Capsuula';
  src: url('assets/fonts/Capsuula.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
* More sensible default box-sizing:
* css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
* reset of default margins and paddings.
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,p,img, span, div {
    caret-color: transparent;
}

/****************** GLOBAL ******************/
html, body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--secondary);
  border-bottom: var(--smooth-border);
  box-shadow: var(--shadow-header-smooth);
  display: flex;
  align-items: center;
  padding: var(--margin-s) var(--margin-l);
}

.header #logo {
  font-size: 2em;
  color: var(--color-on-secondary);
}

main {
  min-height: 100vh;
  width: 100%;
  padding-top: var(--margin-m);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  overflow: hidden;
  font-family: "Capsuula", sans-serif;
}

section {
  width: 100%;
}

#first-section, #second-section, #third-section, #four-section {
  min-height: 500px;

}

#first-section {
  background-color: yellow;
}

#second-section {
  background-color: cyan;
}

#third-section {
  background-color: lime;
}

#four-section {
  background-color: paleturquoise;
}

.scrollY {
  overflow-y: scroll !important;
}
/****************** SPLIDE ******************/
.projects-container-global {
  position: relative;
  width: 100%;
  height: calc(96vh - var(--header-height));
  max-height: calc(96vh - var(--header-height));
  min-height: 690px;
  padding: var(--margin-m) var(--margin-s);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  position: absolute;
  width: 85%;
  max-width: 1350px;
  height: 94%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 10px solid transparent;
  border-radius: 10px;
  box-shadow: var(--strong-shadow);
  overflow: hidden;
}

.splide-container {
  max-width: 60%;
  height: 100%;
  background-color: var(--light-secondary);
  padding: var(--margin-xs) var(--margin-l);
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.main-carousel {
  height: 79%; /* Utilisez une valeur fixe pour le carrousel principal */
}

.thumbnail-carousel {
  height: 19%; /* Utilisez une valeur fixe pour le carrousel des miniatures */
}

.project-legend-container {
  width: 40%;
}

.thumbnail-carousel .splide__list li {
  flex: 0 0 auto;
}

.thumbnail-carousel .splide__list {
  justify-content: center;
}

.thumbnail-carousel .splide__list.overflow {
  justify-content: flex-start;
}

@media screen and (min-width: 1025px) {
  .card{
    max-width: 70vw;
  }

  .project-legend-container a.button {
    margin-bottom: var(--margin-s) !important;
    margin-top: 0 !important;
  }

  .project-legend-container {
    gap:var(--margin-s);
  }
}

@media screen and (max-width: 1024px) {
  .projects-container-global {
    max-height: none;
    height: calc(100vh - var(--header-height));
  }

  .card{
    max-width: 85vw;
    flex-direction: column;
    border: 4px solid transparent;
    justify-content: flex-start;
  }

  .splide-container {
    width: 100%;
    max-width: 100%;
    max-height: 70%;
    min-height: 91%;
    gap: var(--margin-s);
    padding: var(--margin-s) var(--margin-s);
  }

  #project-1 .splide-container {
    min-height: 50%;
    height: 50%;
  }

  .project-legend-container {
    flex: 1;
  }

  .project-legend-container {
    width: 100%;
  }

  .main-carousel {
    height: 74%;
  }
  
  .thumbnail-carousel {
    height: 24%;
  }
}

.splide {
  display: flex;
  justify-content: center;
}

.main-carousel .splide__slide img {
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--basic-shadow);
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
  display: flex !important;
  justify-content: center !important;
  transform: scale(1.05);
}

input[type=radio] {
  display: none;
}

#item-1:checked ~ .projects-container-global #project-3 .splide-container,  #item-1:checked ~ .projects-container-global #project-3 .project-legend-container, 
#item-2:checked ~ .projects-container-global #project-1 .splide-container, #item-2:checked ~ .projects-container-global #project-1 .project-legend-container,
#item-3:checked ~ .projects-container-global #project-4 .splide-container, #item-3:checked ~ .projects-container-global #project-4 .project-legend-container,
#item-4:checked ~ .projects-container-global #project-2 .splide-container, #item-4:checked ~ .projects-container-global #project-2 .project-legend-container,
#item-1:checked ~ .projects-container-global #project-2 .splide-container, #item-1:checked ~ .projects-container-global #project-2 .project-legend-container,
#item-2:checked ~ .projects-container-global #project-4 .splide-container, #item-2:checked ~ .projects-container-global #project-4 .project-legend-container,
#item-3:checked ~ .projects-container-global #project-1 .splide-container, #item-3:checked ~ .projects-container-global #project-1 .project-legend-container,
#item-4:checked ~ .projects-container-global #project-3 .splide-container, #item-4:checked ~ .projects-container-global #project-3 .project-legend-container,
#item-1:checked ~ .projects-container-global #project-4 .splide-container, #item-1:checked ~ .projects-container-global #project-4 .project-legend-container,
#item-2:checked ~ .projects-container-global #project-3 .splide-container, #item-2:checked ~ .projects-container-global #project-3 .project-legend-container,
#item-3:checked ~ .projects-container-global #project-2 .splide-container, #item-3:checked ~ .projects-container-global #project-2 .project-legend-container,
#item-4:checked ~ .projects-container-global #project-1 .splide-container, #item-4:checked ~ .projects-container-global #project-1 .project-legend-container{
  pointer-events: none;
}

#item-1:checked ~ .projects-container-global #project-3, #item-2:checked ~ .projects-container-global #project-1, #item-3:checked ~ .projects-container-global #project-4, #item-4:checked ~ .projects-container-global #project-2 {
  transform: translatex(-30%) scale(.7);
  opacity: .6;
  z-index: 0;
  cursor: pointer;
  overflow: hidden
}

#item-1:checked ~ .projects-container-global #project-2, #item-2:checked ~ .projects-container-global #project-4, #item-3:checked ~ .projects-container-global #project-1, #item-4:checked ~ .projects-container-global #project-3 {
  transform: translatex(30%) scale(.7);
  opacity: .6;
  z-index: 0;
  cursor: pointer;
  overflow: hidden
}

#item-1:checked ~ .projects-container-global #project-4, #item-2:checked ~ .projects-container-global #project-3, #item-3:checked ~ .projects-container-global #project-2, #item-4:checked ~ .projects-container-global #project-1 {
  opacity: .2;
  z-index: 0;
}

#item-1:checked ~ .projects-container-global #project-1, #item-2:checked ~ .projects-container-global #project-2, #item-3:checked ~ .projects-container-global #project-3, #item-4:checked ~ .projects-container-global #project-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid red !important;
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: none !important;
}

.splide__arrow:hover {
  opacity: 0.7;
  box-shadow: var(--strong-shadow);
}

.splide__arrow {
  opacity: 1;
  height: var(--splide-arrow-size);
  width: var(--splide-arrow-size);
  border: 2px solid white;
  box-shadow: var(--basic-shadow);
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.splide__arrow  svg {
  fill: white;
}

.splide__arrow--prev {
  left: 0em;
}

.splide__arrow--next {
  right: 0em;
}

/****************** PROJECT DETAIL ******************/
#project-1.card {
  border-color: var(--proj1-color1);
}

#project-2.card {
  border-color: var(--proj2-color1);
}

#project-3.card {
  border-color: var(--proj3-color1);
}

#project-4.card {
  border-color: var(--proj4-color1);
}

#project-1.card .splide__arrow {
  background-color: var(--proj1-color1);
}

#project-2.card .splide__arrow {
  background-color: var(--proj2-color1);
}

#project-3.card .splide__arrow {
  background-color: var(--proj3-color1);
}

#project-4.card .splide__arrow {
  background-color: var(--proj4-color1);
}

#project-1.card .project-legend-container {
  background-color: var(--proj1-color1);
}

#project-2.card .project-legend-container {
  background-color: var(--proj2-color1);
}

#project-3.card .project-legend-container {
  background-color: var(--proj3-color1);
}

#project-4.card .project-legend-container {
  background-color: var(--proj4-color1);
}

#project-1.card .project-legend-container h2 {
  color: var(--proj1-color2);
}

#project-2.card .project-legend-container h2 {
  color: var(--proj2-color2);
}

#project-3.card .project-legend-container h2 {
  color: var(--proj3-color2);
}

#project-4.card .project-legend-container h2 {
  color: var(--proj4-color2);
}

#project-1 .project-legend-container a, #project-1 .project-legend-container span {
  font-weight: bold;
  color: var(--proj1-color2);
}

#project-2 .project-legend-container a, #project-2 .project-legend-container span {
  font-weight: bold;
  color: var(--proj2-color2);
}

#project-3 .project-legend-container a, #project-3 .project-legend-container span {
  font-weight: bold;
  color: var(--proj3-color2);
}

#project-4 .project-legend-container a, #project-4 .project-legend-container span {
  font-weight: bold;
  color: var(--proj4-color2);
}

#project-1 .project-legend-container a.button {
  color: var(--proj1-color2);
  border: 2px solid var(--proj1-color2);
}

#project-2 .project-legend-container a.button {
  color: var(--proj2-color2);
  border: 2px solid var(--proj2-color2);
}

#project-3 .project-legend-container a.button {
  color: var(--proj3-color2);
  border: 2px solid var(--proj3-color2);
}

#project-4 .project-legend-container a.button {
  color: var(--proj4-color2);
  border: 2px solid var(--proj4-color2);
}

/****************** PROJECT LEGEND ******************/
.project-legend-container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
  padding: var(--margin-s) 0 0 var(--margin-s);
  font-size: var(--text-font-size);
  color: var(--basic-text-color);
  justify-content: center;
  transform: scale(1.01); /* trix pour eviter ligne 1px vide */
}
  
.project-legend-container h2 {
  font-family: 'Capsuula', serif;
  font-size: var(--title3-font-size);
  text-align: center;
}

.project-legend-container a, .project-legend-container span {
  font-weight: bold;
  color: var(--basic-text-color);
}

.project-legend-container ul {
  list-style-type: none;
}

.project-legend-container a.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: var(--classic-btn-size);
  padding: 12px 24px;
  margin: auto;
  border-radius: 25px;
  font-family: "Capsuula", serif;
  font-size: var(--text-font-size);
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  box-shadow: var(--basic-shadow);
  margin-bottom: var(--margin-m);
  margin-top: var(--margin-m);
  overflow: hidden;
}

.project-legend-container a.button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.project-legend-container a.button:hover {
  box-shadow: var(--strong-shadow);
  filter: brightness(1.1);
}

.project-legend-container a.button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}