:root {
  /****************** COLORS ******************/
  
  --versionning-color: #1E2040;
  
  --color1: #1E2040;
  --color2: #E94E1B;
  --color3: #E6E0D2;
  --color2-rgb: 233, 78, 27;
  --color3-rgb: 230, 224, 210;

  --primary: #383131;
  --secondary: #fff;
  --light-primary: #F7FCD1;
  --light-secondary: #E6E0D2;
  --color-on-primary: #fff;
  --color-light-on-primary: grey;
  --color-on-secondary: black;
  --color-light-on-secondary: grey;
  --basic-text-color: var(--color1);
  
  --proj1-color1: #7CB9D6;
  --proj1-color2: #FFFFFF;
  --proj2-color1: #DDE9B9;
  --proj2-color2: #282552;
  --proj2-color2-light: rgba(40, 37, 82, 0.6);
  --proj3-color1: #00B1B1;
  --proj3-color2: #fff;
  --proj4-color1: #69AB2F;
  --proj4-color2: #FFD73E;
  
  /****************** GLOBAL ******************/
  --shadow-header: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-header-smooth: 0 8px 4px 0 rgba(0, 0, 0, .04);
  --smooth-border: 2px solid var(--color2);
  --basic-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --strong-shadow: 0px 4px 8px rgba(0, 0, 0, .7);
  --super-strong-shadow: 0px 4px 8px rgba(0, 0, 0, 1.2);
  
  --font-family1-serif: "Capsuula", serif;
  --font-family1: "Capsuula", sans-serif;
  --font-family2: "ArialNarrow", sans-serif;
  
  /****************** SIZES ******************/
  --header-height: 3rem;
  --mobile-screen-height: 95svh;
  --mobile-projects-height: clamp(70rem, 63.59rem + 25.641vw, 80rem);
  
  --main-network-icon-size: clamp(2rem, 1.636rem + 1.164vw, 2.8rem);
  
  --section-max-width: 1350px;
  --card-max-width: 1350px;
  --card-border-size: 10px;
  --splide-arrow-size: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  --car-arrow-mobile-size: clamp(1.7rem, 0.765rem + 4.273vw, 3.5rem);
  
  --title1-font-size: clamp(3.5rem, 2.364rem + 3.636vw, 6rem);
  --title2-font-size: clamp(2rem, 1.714rem + 0.762vw, 2.4rem);
  --title3-font-size: clamp(1.7rem, 1.382rem + 1.018vw, 2.4rem);
  --title4-font-size: clamp(1.35rem, 1.177rem + 0.692vw, 1.8rem);
  --text-font-size: clamp(0.8rem, 0.627rem + 0.692vw, 1.25rem);
  --btn-font-size: clamp(0.95rem, 0.85rem + 0.4vw, 1.3rem);
  --btn-font-size: clamp(1rem, 0.88rem + 0.48vw, 1.3rem);
  --classic-btn-size: clamp(13rem, 12.143rem + 3.429vw, 16rem);
  --bigger-btn-size: clamp(13rem, 12.143rem + 3.429vw, 16rem);
  
  /****************** SPACING ******************/
  --margin-xs: clamp(0.4rem, 0.329rem + 0.19vw, 0.5rem);
  --margin-s: clamp(0.8rem, 0.657rem + 0.381vw, 1rem);
  --margin-m: clamp(1rem, 0.429rem + 1.524vw, 1.8rem);
  --margin-l: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
  --margin-xl: 5rem;
  
  /****************** ANIMATION ******************/
  --typing-anim-delay: 2.5s;
  --arrow-slide1: clamp(0.4rem, -0.138rem + 2.154vw, 1rem);
  --arrow-slide2: 0.25rem;
  --client-slide-speed: 20s;
}

@font-face {
  font-family: 'Capsuula';
  src: url('assets/fonts/Capsuula.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialNarrow';
  src: url('assets/fonts/arialnarrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
* More sensible default box-sizing:
* css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

/**
* reset of default margins and paddings.
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p,img, span, div {
  caret-color: transparent;
}

input, textarea {
  caret-color: auto;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/****************** GLOBAL ******************/
html, body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color1);
  touch-action: manipulation;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--color1);
  border-bottom: var(--smooth-border);
  box-shadow: var(--shadow-header-smooth);
  display: flex;
  align-items: center;
  padding: var(--margin-s) var(--margin-l);
}

header:hover {
  box-shadow: 0 6px 8px -2px rgba(233, 78, 27, 0.9);
}

.header #logo {
  font-size: 2em;
  color: var(--color3);
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: var(--versionning-color);
  color: var(--color3);
  padding: var(--margin-xs) var(--margin-s);
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  font-family: var(--font-family2);
}

main {
  min-height: 100vh;
  width: 100%;
}

.section-wrapper {
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  overflow: hidden;
  font-family: var(--font-family1);
  gap: var(--margin-xl);
  padding-bottom: var(--margin-xl);
}

section {
  width: 100%;
  z-index: 1;
}

h2 {
  color: var(--color2);
  font-size: var(--title3-font-size);
  text-transform: uppercase;
  text-align: center;
}

/****************** FIRST SECTION ******************/
.first-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--color1);
}

.intro-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover;
  pointer-events: none;
  z-index: 0;
}

#first-section {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 95vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#first-section .content-first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-s);
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#first-section h1 {
  color: var(--color3);
  font-size: var(--title1-font-size);
  text-align: center;
  line-height: calc(var(--title1-font-size)*1.1);
  font-weight: normal;
}

.typewriter {
  will-change: transform;
  box-sizing: content-box;
  width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid var(--color2); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing var(--typing-anim-delay) steps(20, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color2); }
}

#first-section p {
  color: var(--color3);
  font-size: 1rem;
}

#first-section p strong, #first-section p a {
  color: var(--color2);
}

.network-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: var(--main-network-icon-size);
  gap: var(--margin-m);
}

.network-container a {
  max-width: var(--main-network-icon-size);
  height: 100%;
  display: flex;
  align-items: center;
}

.network-container  svg.network-icon {
  stroke: var(--color3);
  fill: var(--color3);
  width: var(--main-network-icon-size);
  min-width: var(--main-network-icon-size);
  max-height: 100%;
  transition: all 0.2s ease;
  aspect-ratio: 1;
}

.network-container  svg.network-icon:hover {
  cursor: pointer;
  stroke: var(--color2);
  fill: var(--color2);
}

#first-section a.second-link {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
}

.down-arrow {
  will-change: transform;
  margin-top: var(--margin-l);
  filter: drop-shadow(var(--basic-shadow));
  max-width: 60px;
  min-height: 60px;
  stroke: var(--color3);
  fill: var(--color3);
  animation: down-arrow-slide 1s ease-in-out infinite;
  animation-delay: var(--typing-anim-delay);
  transition: all 0.2s ease;
}

.down-arrow:hover {
  filter: drop-shadow(var(--strong-shadow));
  cursor: pointer;
  stroke: var(--color2);
  fill: var(--color2);
}

@keyframes down-arrow-slide {
  0%,
  100% {
    transform: translateY(0px);
    stroke: var(--color3);
    fill: var(--color3);
  }
  
  50% {
    transform: translateY(10px);
    stroke: var(--color2);
    fill: var(--color2);
  }
}

/****************** SECOND SECTION ******************/

#second-section {
  width: 90%;
  max-width: var(--section-max-width);
  padding-top: var(--margin-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#second-section h2 {
  margin-bottom: var(--margin-l);
}

#second-section .pres-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--margin-l);
}

#second-section .pres-wrapper .pres-img-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.pres-img-container img {
  max-width: 100%;
}

#second-section .pres-wrapper .pres-text-container {
  width: 60%;
  padding: 0 var(--margin-l);
  margin-left: var(--margin-l);
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
}

.pres-text-container .pres-text {
  color: var(--color3);
  font-size: var(--text-font-size);
  font-family: var(--font-family2);
  text-align: justify;
}

.pres-text-container span.important {
  color: var(--color2)
}

.pres-text-container span.important {
  font-weight: bold;
}

.pres-text-container .pres-text a.link {
  color: var(--color2);
  text-decoration: underline;
  cursor: pointer;
}

.pres-text-container .button {
  color: var(--color2);
  border: 2px solid var(--color3);
  width: var(--bigger-btn-size);
  margin-top: 0;
  margin-bottom: 0;
}

#second-section .client-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:  var(--margin-l);
}

#second-section .client-wrapper h4 {
  font-weight: normal;
  margin-bottom: var(--margin-s);
  margin-top: var(--margin-m);
  color: var(--color3);
  font-size: var(--title4-font-size);
  text-transform: uppercase;
}

.client-logo-container {
  background-color: var(--color3);
  padding: var(--margin-m) 0 var(--margin-m) 0;
  width: 100vw;
}

.client-slide-track {
  will-change: transform;
  height: calc(var(--main-network-icon-size)*1.6);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: calc(var(--margin-l)*2);
  padding-right: var(--margin-l);
  animation: scroll var(--client-slide-speed) linear infinite;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(var(--track-width) - var(--margin-l)))}
}

.client-logo-container .client-slide {
  height: 100%;
  max-height: 100%;
}

.client-logo-container .client-slide img {
  height: 100%;
  max-height: 100%;
  width: auto;
}

/****************** CONTACT ******************/

#contact-section {
  width: 85%;
  max-width: var(--section-max-width);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-top: var(--margin-l);
  gap: var(--margin-l)
}

#contact-section h2 {
  text-align: left;
  position: relative;
  left: calc(40% + var(--margin-l));
}

#contact-section .contact-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--margin-l);
  align-items: stretch;
}

#contact-section .contact-infos-container {
width: 40%;
height: auto;
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--margin-l);
padding: var(--margin-l);
color: var(--color1);
font-size: var(--text-font-size);
font-family: var(--font-family2);
border-radius: 10px;
background-color: var(--color3);
}

#contact-section .contact-infos-container h4 {
  color: var(--color2);
  text-transform: uppercase;
  font-family: var(--font-family1);
  font-size: var(--title4-font-size);
}

#contact-section .contact-infos-container .detail-infos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-xs);
}

#contact-section .contact-infos-container .detail-infos-container .info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--margin-xs);
  white-space: nowrap;
}

#contact-section .contact-infos-container .detail-infos-container .info-wrapper svg.info-icon {
  fill: var(--color1);
  stroke: var(--color1);
  max-height: calc(var(--main-network-icon-size)/2);
}

.network-container  svg.network-icon {
  stroke: var(--color3);
  fill: var(--color3);
  width: var(--main-network-icon-size);
  min-width: var(--main-network-icon-size);
  max-height: 100%;
  transition: all 0.2s ease;
}

#contact-section .contact-infos-container .network-container {
  gap: var(--margin-s);
}

#contact-section .contact-infos-container .network-container svg.network-icon {
  stroke: var(--color1);
  fill: var(--color1);
}

#contact-section .contact-infos-container .network-container svg.network-icon:hover {
  cursor: pointer;
  stroke: var(--color2);
  fill: var(--color2);
}

#contact-section .contact-infos-container hr {
  width: 30%;
  border: none;
  height: 2px;
  color: var(--color2);
  background-color: var(--color2);
  fill: var(--color2);
}

#contact-section .contact-infos-container p {
  text-align: center;
}

#contact-section .contact-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-m);
  padding: 0 var(--margin-l);
  background-color: transparent;
  border-radius: 10px;
}

.form-group {
  --pad-input: .75rem;
  position: relative;
  font-family: var(--font-family2);
  width: 100%;
}

.floating-input {
  padding: var(--pad-input);
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--color3);
  color: var(--color3);
  width: 100%;
  outline: none;
  box-shadow: var(--basic-shadow);
  font-family: var(--font-family2);
  font-size: var(--text-font-size);
  border-radius: 15px;
}

textarea.floating-input {
  height: 16rem;
  overflow-y: auto;
}

.floating-label {
  position: absolute;
  left: var(--pad-input);
  top: var(--pad-input);
  background: transparent;
  padding-inline: .3em;
  transition: transform 200ms;
  pointer-events: none;
  transform-origin: left;
  translate: -.3em;
  color: var(--color3);
  font-size: var(--text-font-size)
}

.floating-input::placeholder {
  opacity: 0;
}
.floating-input:focus + label,
.floating-input:not(:placeholder-shown) + label {
  transform: translateY(calc(-50% - var(--pad-input)*2)) scale(.8);
  color: var(--color2);
}

.floating-input:focus {
  border: 2px solid var(--color2);
}

#contact-section .button {
  color: var(--color2);
  border: 2px solid var(--color3);
  width: var(--bigger-btn-size);
  margin: 0;
  position: relative;
  left: calc(100% - var(--bigger-btn-size) - var(--margin-l));
}

/****************** SPLIDE ******************/
#third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--margin-l);
}

#third-section h2 {
  margin-top: var(--margin-l);
}

.projects-container-global {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent !important;
}

.card {
  position: absolute;
  width: 85%;
  max-width: var(--card-max-width);
  height: 90%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease, filter .4s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: var(--card-border-size) solid transparent;
  border-radius: 10px;
  box-shadow: var(--strong-shadow);
  overflow: hidden;
}

.mobile-carrow {
  opacity: 0;
  display: none;
}

.car-arrow {
  will-change: transform;
  position: absolute;
  z-index: 10;
  filter: drop-shadow(var(--basic-shadow));
  max-width: 60px;
  pointer-events: none;
  stroke: var(--color3)
}

.car-left-arrow.hovered {
  filter: drop-shadow(var(--strong-shadow));
  cursor: pointer;
  animation: left-arrow-slide 0.7s ease-in-out infinite;
}

.car-right-arrow.hovered {
  filter: drop-shadow(var(--strong-shadow));
  cursor: pointer;
  animation: right-arrow-slide 0.7s ease-in-out infinite;
}

.car-left-arrow {
  left: 8%;
}

.car-right-arrow {
  right: 8%;
}

@keyframes left-arrow-slide {
  0%,
  100% {
    transform: translateX(var(--arrow-slide1));
  }
  
  50% {
    transform: translateX(calc(var(--arrow-slide2)*-1));
  }
}


@keyframes right-arrow-slide {
  0%,
  100% {
    transform: translateX(calc(var(--arrow-slide1)*-1));
  }
  
  50% {
    transform: translateX(var(--arrow-slide2));
  }
}

.splide-container {
  max-width: 60%;
  height: 100%;
  background-color: var(--light-secondary);
  padding: var(--margin-xs) var(--margin-l);
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.main-carousel {
  height: 79%; /* 
  Utilisez une valeur fixe pour le carrousel principal */
}

.thumbnail-carousel {
  height: 19%; /* Utilisez une valeur fixe pour le carrousel des miniatures */
}

.project-legend-container {
  width: 40%;
}

.thumbnail-carousel .splide__list li {
  flex: 0 0 auto;
  height: 100%;
}

.thumbnail-carousel .splide__list {
  justify-content: center;
  align-items: flex-start;
}

.thumbnail-carousel .splide__list.overflow {
  justify-content: flex-start;
}

@media screen and (min-width: 1025px) {
  .card{
    max-width: 70vw;
  }
  
  #project-1.card .splide-container {
    border-right: 6px solid var(--proj1-color2)!important;
  }
  
  #project-2.card .splide-container {
    border-right: 6px solid var(--proj2-color2-light)!important;
  }
  
  #project-3.card .splide-container {
    border-right: 6px solid var(--proj3-color2)!important;
  }
  
  #project-4.card .splide-container {
    border-right: 6px solid var(--proj4-color2)!important;
  }
  
  .project-legend-container a.button {
    margin-bottom: var(--margin-s) !important;
    margin-top: 0 !important;
  }
  
  .project-legend-container {
    gap:var(--margin-s);
  }
}

.splide {
  display: flex;
  justify-content: center;
}

.main-carousel .splide__slide img {
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--basic-shadow);
}

.main-carousel lite-youtube {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--basic-shadow);
}

.splide__slide img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.splide__slide {
  opacity: 0.6;
  justify-content: center !important;
  display: flex !important;
}

.splide__slide.is-active {
  opacity: 1;
  transform: scale(1.05);
}

input[type=radio] {
  display: none;
}

#item-1:checked ~ #project-3 .splide-container,  #item-1:checked ~ #project-3 .project-legend-container, 
#item-1:checked ~ #project-2 .splide-container, #item-1:checked ~ #project-2 .project-legend-container,
#item-1:checked ~ #project-4 .splide-container, #item-1:checked ~ #project-4 .project-legend-container,
#item-2:checked ~ #project-1 .splide-container, #item-2:checked ~ #project-1 .project-legend-container,
#item-2:checked ~ #project-4 .splide-container, #item-2:checked ~ #project-4 .project-legend-container,
#item-2:checked ~ #project-3 .splide-container, #item-2:checked ~ #project-3 .project-legend-container,
#item-3:checked ~ #project-4 .splide-container, #item-3:checked ~ #project-4 .project-legend-container,
#item-3:checked ~ #project-1 .splide-container, #item-3:checked ~ #project-1 .project-legend-container,
#item-3:checked ~ #project-2 .splide-container, #item-3:checked ~ #project-2 .project-legend-container,
#item-4:checked ~ #project-2 .splide-container, #item-4:checked ~ #project-2 .project-legend-container,
#item-4:checked ~ #project-3 .splide-container, #item-4:checked ~ #project-3 .project-legend-container,
#item-4:checked ~ #project-1 .splide-container, #item-4:checked ~ #project-1 .project-legend-container{
  pointer-events: none;
}

#item-1:checked ~ #project-4, #item-2:checked ~ #project-1, #item-4:checked ~ #project-3, #item-3:checked ~ #project-2 {
  transform: translate3d(-30%, 0, 0) scale(.7);
  opacity: .6;
  cursor: pointer;
  overflow: hidden;
  filter: blur(5px);
}

#item-1:checked ~ #project-2, #item-2:checked ~ #project-3, #item-4:checked ~ #project-1, #item-3:checked ~ #project-4 {
  transform: translate3d(30%, 0, 0) scale(.7);
  opacity: .6;
  cursor: pointer;
  overflow: hidden;
  filter: blur(5px);
}

#item-1:checked ~ #project-3, #item-2:checked ~ #project-4, #item-4:checked ~ #project-2, #item-3:checked ~ #project-1 {
  opacity: .2;
  z-index: 0;
}

#item-1:checked ~ #project-1, #item-2:checked ~ #project-2, #item-4:checked ~ #project-4, #item-3:checked ~ #project-3 {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid red !important;
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: none !important;
}

.splide__arrow:hover {
  opacity: 0.7;
  box-shadow: var(--strong-shadow);
}

.splide__arrow {
  opacity: 1;
  height: var(--splide-arrow-size);
  width: var(--splide-arrow-size);
  border: 2px solid white;
  box-shadow: var(--basic-shadow);
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.splide__arrow--prev {
  left: calc(var(--margin-m)*-1)
}

.splide__arrow--next {
  right: calc(var(--margin-m)*-1)
}

/****************** PROJECT DETAIL ******************/
#project-1.card {
  border-color: var(--proj1-color1);
}

#project-2.card {
  border-color: var(--proj2-color1);
}

#project-3.card {
  border-color: var(--proj3-color1);
}

#project-4.card {
  border-color: var(--proj4-color1);
}

#project-1.card .splide-container {
  border: 4px solid var(--proj1-color2);
}

#project-2.card .splide-container {
  border: 4px solid var(--proj2-color2-light);
}

#project-3.card .splide-container {
  border: 4px solid var(--proj3-color2);
}

#project-4.card .splide-container {
  border: 4px solid var(--proj4-color2);
}

#project-1.card .splide__arrow {
  background-color: var(--proj1-color1);
  border-color: var(--proj1-color2);
}

#project-1.card .splide__arrow svg{
  fill: var(--proj1-color2);
}

#project-2.card .splide__arrow {
  background-color: var(--proj2-color1);
  border-color: var(--proj2-color2-light);
}

#project-2.card .splide__arrow svg{
  fill: var(--proj2-color2);
}

#project-3.card .splide__arrow {
  background-color: var(--proj3-color1);
  border-color: var(--proj3-color2);
}

#project-3.card .splide__arrow svg{
  fill: var(--proj3-color2);
}

#project-4.card .splide__arrow {
  background-color: var(--proj4-color1);
  border-color: var(--proj4-color2);
}

#project-4.card .splide__arrow svg{
  fill: var(--proj4-color2);
}

#project-1.card .project-legend-container {
  background-color: var(--proj1-color1);
}

#project-2.card .project-legend-container {
  background-color: var(--proj2-color1);
}

#project-3.card .project-legend-container {
  background-color: var(--proj3-color1);
}

#project-4.card .project-legend-container {
  background-color: var(--proj4-color1);
}

#project-1.card .project-legend-container h2 {
  color: var(--proj1-color2);
}

#project-2.card .project-legend-container h2 {
  color: var(--proj2-color2);
}

#project-3.card .project-legend-container h2 {
  color: var(--proj3-color2);
}

#project-4.card .project-legend-container h2 {
  color: var(--proj4-color2);
}

#project-1 .project-legend-container a, #project-1 .project-legend-container strong {
  color: var(--proj1-color2);
}

#project-2 .project-legend-container a, #project-2 .project-legend-container strong {
  color: var(--proj2-color2-light);
}

#project-3 .project-legend-container a, #project-3 .project-legend-container strong {
  color: var(--proj3-color2);
}

#project-4 .project-legend-container a, #project-4 .project-legend-container strong {
  color: var(--proj4-color2);
}

#project-1 .project-legend-container a.button {
  color: var(--proj1-color2);
  border: 2px solid var(--proj1-color2);
}

#project-2 .project-legend-container a.button {
  color: var(--proj2-color2);
  border: 2px solid var(--proj2-color2);
}

#project-3 .project-legend-container a.button {
  color: var(--proj3-color2);
  border: 2px solid var(--proj3-color2);
}

#project-4 .project-legend-container a.button {
  color: var(--proj4-color2);
  border: 2px solid var(--proj4-color2);
}

/****************** PROJECT LEGEND ******************/
.project-legend-container {
  display: flex;
  flex-direction: column;
  padding: var(--margin-l) calc(var(--margin-l) - var(--card-border-size)) var(--margin-l) var(--margin-l);
  font-size: var(--text-font-size);
  color: var(--basic-text-color);
  justify-content: space-between;
  transform: scale(1.01); /* trix pour eviter ligne 1px vide */
  font-family: var(--font-family2);
  line-height: calc(var(--text-font-size)*1.3);
}

.project-legend-container h2 {
  font-family: var(--font-family1-serif);
  font-size: var(--title2-font-size);
  text-align: center;
  box-sizing: border-box;
}

.project-legend-container p {
  text-align: justify;
}

.project-legend-container a, .project-legend-container strong {
  color: var(--basic-text-color);
  font-weight: normal;
}

.project-legend-container a.contact-link {
  text-decoration: underline;
  cursor: pointer;
}

a.button {
  display: flex;
  justify-content: center;
  text-decoration: none !important;
  text-align: center;
  width: var(--classic-btn-size);
  padding: 12px 24px;
  margin: auto;
  border-radius: 15px;
  font-family: var(--font-family1-serif);
  font-size: var(--btn-font-size);
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  box-shadow: var(--basic-shadow);
  margin-bottom: var(--margin-m);
  margin-top: var(--margin-m);
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

a.button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .5;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  z-index: -10;
  cursor: default;
  pointer-events: none;
  will-change: opacity, transform;
}

a.button:hover {
  box-shadow: var(--strong-shadow);
}

a.button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 1024px) {
  .section-wrapper {
    padding-bottom: var(--margin-l);
  }

  #first-section {
    height: var(--mobile-screen-height);
  }
  
  .down-arrow {
    max-width: calc(var(--car-arrow-mobile-size)*3);
    min-height: 45px;
  }

  #third-section h2 {
    margin-top: 0;
    margin-bottom: var(--margin-l);
  }
  
  .projects-container-global {
    max-height: none;
    height: var(--mobile-projects-height);
    justify-content: flex-start;
    position: relative;
  }
  
  .mobile-carrow {
    display: block;
    z-index: 10;
    filter: drop-shadow(var(--basic-shadow));
    max-width: 60px;
    pointer-events: none;
    stroke: var(--color3);
    max-width: var(--car-arrow-mobile-size);
    position: fixed;
    top: calc(50vh - var(--car-arrow-mobile-size)/2);
    transition: opacity .4s ease;
  }
  
  .car-arrow {
    visibility: hidden;
  }
  
  .car-left-arrow {
    animation: left-arrow-slide 2.7s ease-in-out infinite;
    left: var(--margin-s);
  }
  
  .car-right-arrow {
    animation: right-arrow-slide 2.7s ease-in-out infinite;
    right: var(--margin-s);
  }
  
  .card{
    height: var(--mobile-projects-height);
    max-width: 75vw;
    flex-direction: column;
    border: 4px solid transparent;
    justify-content: flex-start;
    transition: transform .4s ease, opacity .5s ease;
  }
  
  .splide-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    gap: var(--margin-s);
    padding: 0 0 var(--margin-xs) 0;
    justify-content: flex-start;
    overflow-y: auto;
  }
  
  #project-1 .splide-container {
    min-height: 50%;
    height: 50%;
  }
  
  .main-carousel {
    height: auto;
  }
  
  .thumbnail-carousel {
    height: auto;
  }
  
  .splide__slide img {
    width: auto;
    height: 100%;
  }
  
  .main-carousel .splide__slide img {
    width: 100%;
    height: auto;
  }
  
  .project-legend-container {
    flex: 1;
    width: 100%;
    height: auto;
    padding: var(--margin-l) var(--margin-s) var(--margin-s) var(--margin-s);
  }
  
  .thumbnail-carousel {
    max-height: 100px;
    padding: 0 var(--margin-m);
  }
  
  .splide__arrow--prev {
    left: var(--margin-xs);
  }
  
  .splide__arrow--next {
    right: var(--margin-xs);
  }
  
  #project-1 .main-carousel {
    height: 85%;
  }
  
  #project-1 .thumbnail-carousel {
    height: 12%;
  }
  
  #project-1.card .splide-container {
    border-bottom: 6px solid var(--proj1-color2)!important;
  }
  
  #project-2.card .splide-container {
    border-bottom: 6px solid var(--proj2-color2-light)!important;
  }
  
  #project-3.card .splide-container {
    border-bottom: 6px solid var(--proj3-color2)!important;
  }
  
  #project-4.card .splide-container {
    border-bottom: 6px solid var(--proj4-color2)!important;
  }
  
  #item-1:checked ~ #project-4, #item-2:checked ~ #project-1, #item-4:checked ~ #project-3, #item-3:checked ~ #project-2 {
    transform: translate3d(-30%, 0, 0);
    opacity: 0 ;
    filter: none;
  }
  
  #item-1:checked ~ #project-2, #item-2:checked ~ #project-3, #item-4:checked ~ #project-1, #item-3:checked ~ #project-4 {
    transform: translate3d(30%, 0, 0);
    opacity: 0;
    filter: none;
  }
  
  #item-1:checked ~ #project-3, #item-2:checked ~ #project-4, #item-4:checked ~ #project-2, #item-3:checked ~ #project-1 {
    opacity: 0;
    filter: none;
  }
  
  /****************** SECOND SECTION ******************/
  
  #second-section, #contact-section {
    width: 100%;
    padding-left: var(--margin-s);
    padding-right: var(--margin-s);
  }

  #second-section .pres-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-l);
    gap: var(--margin-l);
  }
  
  #second-section .pres-wrapper .pres-img-container, #contact-section .contact-container {
    width: 100%;
    padding: 0 var(--margin-l);
  }
  
  #second-section .pres-wrapper .pres-text-container {
    width: 100%;
    margin-left: 0;
  }
  
  .pres-text-container .button {
    margin-top: var(--margin-l);
  }
  
  .client-slide-track {
    gap: var(--margin-l);
    animation: scrollMob calc(var(--client-slide-speed)*0.75) linear infinite;
  }
  
  @keyframes scrollMob {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(var(--track-width) - (var(--margin-l)/2)))}
  }

  /****************** CONTACT SECTION ******************/
  #contact-section {
    min-height: 400px;
    align-items: center;
  }

  #contact-section h2 {
    left: 0;
  }

  #contact-section .button {
    left: 0;
  }

  #contact-section .contact-container {
    flex-direction: column;
    min-height: 400px;
    height: auto;
  }
  
  #contact-section .contact-infos-container {
    width: 100%;
    margin: 0;
  }
  
  #contact-section .contact-form-container {
    width: 100%;
    gap: var(--margin-l);
    padding: 0;
  }

  #contact-section .contact-form-container .button {
    width: 50%;
  }
}